.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.praise-regular {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* shared styles */
.display-flex {
    display: flex;
}

.text-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600px;
}

.btn-primary {
    font-size: 18px;
    font-weight: 600px;
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
}
.description-primary {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bg-primary {
    background-color: rgb(17, 17, 17);
}

/* Nav styles */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 800;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    margin: 0 10px;
    padding: 4px;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 35px;
}

nav li a {
    text-decoration: none;
}

.nav-menu {
    color: white;
}

.nav-hamburger-menu {
    display: none;
}

.navbar,
.banner {
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    gap: 200px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5rem;
}
.banner-title-btn {
    max-width: 530px;
    max-height: 450px;
}
.banner-second-item {
    font-size: 18px;
    font-weight: 600px;
    border-radius: 45px;
    background-color: rgb(17, 17, 17);
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn-item {
    text-decoration: none; 
    margin-right: 15px; 
}
.link-btn{
    list-style: none;
}

.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.rect{
    height: 90px;
    width: 200px;
    background: rgba(48, 48, 48, 0.54);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid 1px rgba(255, 255, 255, 0.1);
    gap: 10px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    position: absolute;
    margin-top: -130px;
}

#first-number{
    font-size: 1.5rem;
    font-weight: 900;
}
#first-title{
    font-size: 1rem;
    font-weight: 400;
}
#rect-number{
    font-size: 2.5rem;
    font-weight: 900;
}
#rect-title{
    font-size: .8rem;
    font-weight: 400;
}
.rect-two{
    height: 95px;
    width: 190px;
    background: rgba(48, 48, 48, 0.54);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    margin-left: 200px;
    margin-top: -450px;
    
}

/* responsive media query */
/* small device */
@media screen and (max-width : 576px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-link-container {
        display: none;
    }

    .navbar {
        margin: 0 15px;
    }
}

/* medium device */
@media screen and (min-width : 576px) and (max-width : 992px) {
    .navbar {
        margin: 0 15px;
    }
}