.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.praise-regular {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-style: normal;
}


/* shared styles */
.display-flex {
    display: flex;
}

.text-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600px;
}

.btn-primary {
    font-size: 18px;
    font-weight: 600px;
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
}

.description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.primary-description {
    font-size: .95rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bg-primary {
    background-color: rgb(17, 17, 17);
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.center-align{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Nav styles */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 800;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    margin: 0 10px;
    padding: 4px;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 35px;
}

nav li a {
    text-decoration: none;
}

.nav-menu {
    color: white;
}

.nav-hamburger-menu {
    display: none;
}

.navbar,
.banner {
    max-width: 1200px;
    margin: 0 auto;
}
 /* banner styles */
.banner {
    gap: 200px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5rem;
}

.banner-title-btn {
    max-width: 500px;
    max-height: 400px;
}

.banner-second-item {
    font-size: 18px;
    font-weight: 600px;
    border-radius: 45px;
    background-color: rgb(17, 17, 17);
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-item {
    text-decoration: none;
    margin-right: 15px;
}

.link-btn {
    list-style: none;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.rect {
    height: 90px;
    width: 200px;
    background: rgba(48, 48, 48, 0.54);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid 1px rgba(255, 255, 255, 0.1);
    gap: 10px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    position: absolute;
    margin-top: -130px;
}

.first-number {
    font-size: 1.5rem;
    font-weight: 900;
}

.first-title {
    font-size: 1rem;
    font-weight: 400;
}

.rect-number {
    font-size: 2.5rem;
    font-weight: 900;
}

.rect-title {
    font-size: .8rem;
    font-weight: 400;
}

.rect-two {
    height: 95px;
    width: 190px;
    background: rgba(48, 48, 48, 0.54);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    margin-left: 220px;
    margin-top: -450px;

}
.play{
    display: none;
}
  /* main styles */
main{
    max-width: 1200px;
    margin: 0 auto;
}

.habits-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.habits-container{
    align-items: center;
    justify-content: space-between;
}
.habits-item{
    border-radius: 50%;
}
.habits-items-container{
    width: 220px;
    height: 250px;
    gap: 40px;
    margin: 55px;
    
}
.habits-margin-top{
    margin-top: 100px;
}


/* responsive media query */
/* small device */
@media screen and (max-width : 576px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-link-container {
        display: none;
    }

    .navbar {
        margin: 0 15px;
    }

    .banner {
        flex-direction: column;
        margin: 0 15px;
        gap: 20px;
    }

    .banner-title-btn {
        max-width: 350px;
        max-height: 330px;
    }

    .banner-title {
        font-size: 1.25rem;
    }

    .banner-img {
        margin-top: 20px;
    }

    .rect-two {
        max-height: 70px;
        max-width: 150px;
        margin-top: -510px;
    }

    .rect-title {
        font-size: .5rem;
    }

    .rect-number {
        font-size: 2rem;
    }
    .responsive-ball{
        color: rgb(255, 255, 255);
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;
    }
    .play{
        display: block;
    }
    .rect{
        height: 60px;
        width: 150px;
        margin-top: -200px;
    }
    .section-title{
        font-size: 2rem;
    }
    .habits-container{
        flex-direction: column;
        gap: 40px;
    }
    .habits-margin-top{
        margin: 0 30px;
    }
}

/* medium device */
@media screen and (min-width : 576px) and (max-width : 992px) {
    .navbar {
        margin: 0 15px;
    }
    .banner{
        flex-direction: column;
        margin: 0 15px;
        align-items: center;
    }
    .play{
        display: none;
    }
    .habits-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .habits-items-container{
        padding-top: 40px;
        margin-left: 65px;
    }
    .habits-margin-top{
        margin-left: 50px;
        margin-right: 40px;
    }
    
    
}